nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 10px;
}

.isOpen ul {
    display: flex;
}

@media screen and (max-width: 768px) {
    nav button {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
    }
    .isOpen nav ul {
        display: flex;
        flex-direction: column;
    }
}